{
    "curly":true,
    "eqeqeq": true,
    "immed": true,
    "bitwise": true,
    "newcap": true,
    "noempty": true,
    "unused": true,
    "camelcase":true,
    "undef": true,
    "strict": true,
    "trailing": true,
    "laxbreak": true,
    "maxparams": 7,
    "maxdepth": 5,
    "maxstatements": 50,
    "maxcomplexity": 13,
    "maxlen": 120
}
